<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{user.first_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/home/travel" class="btn btn-primary">Home</a>
            <a href="/places" class="btn btn-primary">Places</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <form action="/update/place" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary">Edit Place</h2>
        {% with messages = get_flashed_messages(category_filter=['place']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Alert!!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-between col-9">
            <input type="hidden" name="id" value={{edit.id}}>
            <div class="col-4">
                <div class="form-group">
                    <label for="location">Location:</label>
                    <input type="text" name="location" class="form-control" value="{{edit.location}}">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description"  cols="30" rows="5" class="form-control">{{edit.description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="datetime-local" name="date" class="form-control" value="{{edit.date}}">
                </div>
            </div>
            <div class="col-4">

                <dl>
                    <p>
                        <input type="file" name="file" autocomplete="off" required>
                    </p>
                </dl>
                <br>
                <input type="submit" value="Edit Place" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</body>
</html>