<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{user.first_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/home/recipe" class="btn btn-primary">Home</a>
            <a href="/recipes" class="btn btn-primary">Recipes</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <form action="/update/recipe" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary">Edit Recipe</h2>
        {% with messages = get_flashed_messages(category_filter=['recipe']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Alert!!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-between col-9">
            <input type="hidden" name="id" value={{edit.id}}>
            <div class="col-4">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" class="form-control" value="{{edit.title}}">
                </div>
                <div class="form-group">
                    <label for="instructions">Instructions:</label>
                    <textarea name="instructions"  cols="30" rows="5" class="form-control">{{edit.instructions}}</textarea>
                </div>
                <div class="form-group">
                    <label for="time">Time to cook:</label>
                    <input type="text" name="time" class="form-control" value="{{edit.time}}">
                </div>
            </div>
            <div class="col-4">

                <dl>
                    <p>
                        <input type="file" name="file" autocomplete="off" required>
                    </p>
                </dl>
                <br>
                <input type="submit" value="Edit Recipe" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</body>
</html>