<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Welcome {{user.first_name}} Food Blog</h1>
    <a href="/home/recipe" class="btn btn-info">Home</a>
    <a href="/recipes" class="btn btn-info">Recepies</a>
    <a href="/new/recipe" class="btn btn-info">Add a new Recipe</a>
    <a href="/logout" class="btn btn-info">Logout</a>
    <a href="/dashboard" class="btn btn-info">Dashboard</a>
    <h2>List of Recipes</h2>                       
    
    {% for recipe in recipes %}
            {% if recipe.user_id == session.user_id %}
                <div class="col-8 mx-auto">
                <img src="../static/uploads/recipe/{{recipe.title}}/{{recipe.title}}.png" alt="#picture of chana masala" width="100" height="100">
                <a href="/recipe/{{recipe.id}}">{{recipe.title}}</a> 
                <a href="#">{{recipe.user_id}}</a>
                <a href="#">{{session.user_id}}</a>
                </div>
            {% endif %}
    {% endfor %}
    
</body>
</html>