<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Place</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-warning">
    <nav class="d-flex justify-content-around m-3">
        <div class="d-flex col-4 justify-content-around">
        
        {% if place.users_id == user.id %}
            <a href="/home/travel" class="btn btn-primary">Home</a>
            <a href="/places" class="btn btn-primary">Places</a>
            <a href="/logout" class="btn btn-info">Logout</a>
            {% else %}
            <a href="/show_blog/{{place.users_id}}" class="btn btn-primary">Back</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        {% endif %}
        </div>
    </nav>
    <div class="card col-10 mx-auto my-5 bg-dark text-light">
        <div class="card-body">
            <h2 class="card-title text-primary">{{place.location}}</h2>
            <p class="card-text">Date:  {{place.date}}</p>
            <p class="card-text">Description:  {{place.description}}</p>
            <img src="../static/uploads/travel/{{place.location}}/{{place.location}}.png" alt="#picture of place" width="200" height="200">
        </div>
        <div>
            {% if place.users_id == user.id %}
            <a href="/edit/place/{{place.id}}">Edit</a>
            <a href="/destroy/place/{{place.id}}">Delete</a>
            {% endif %}
        </div>
    </div>
</body>
</html>