<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Welcome {{user.first_name}} Travel and Photo Blog</h1>
    <a href="/home/travel" class="btn btn-info">Home</a>
    <a href="/places" class="btn btn-info">Places</a>
    <a href="/new/place" class="btn btn-info">Add a new place</a>
    <a href="/logout" class="btn btn-info">Logout</a>
    <a href="/user_page" class="btn btn-info">Dashboard</a>
    <h2>Live Laugh Love Eat </h2>
</body>
</html>